body {
  background-color: #302e2b;
}

#root {
  display: flex;
  flex-direction: column;
}

.squareRow {
  width: 800px;
  height: 200px;
  display:flex;
}

.white {
  background-color: #e9edcc;
}

.black {
  background-color: #779954;
}

.square{
  height: 100px;
  width: 100px;
}

